<div class="work-center-row" role="row">
  <div
    #lane
    class="work-center-row__lane"
    role="gridcell"
    [attr.aria-label]="workCenter.data.name + ' timeline row'"
    (click)="onRowClick($event)"
    (mousemove)="onLaneMouseMove($event)"
    (mouseleave)="onLaneMouseLeave()"
  >
    <div
      *ngIf="hintVisible"
      class="work-center-row__add-hint"
      [style.left.px]="hintX"
      aria-hidden="true"
    >
      Click to add dates
    </div>
    <div
      *ngIf="hintVisible"
      class="work-center-row__add-box"
      [style.left.px]="hintX"
      aria-hidden="true"
    ></div>

    <app-work-order-bar
      *ngFor="let wo of workOrders"
      [workOrder]="wo"
      [zoom]="zoom"
      [visibleRange]="visibleRange"
      [active]="wo.docId === selectedWorkOrderId"
      (barClick)="onBarClick(wo, $event)"
      (edit)="onBarEdit(wo)"
      (delete)="onBarDelete(wo)"
    >
    </app-work-order-bar>
  </div>
</div>
