<div
  class="work-order-bar"
  [ngClass]="'work-order-bar--' + workOrder.data.status"
  [class.work-order-bar--active]="active"
  [ngStyle]="layoutStyle"
  [ngbTooltip]="tooltipContent"
  #t="ngbTooltip"
  tooltipClass="wo-bar-tooltip-container"
  placement="top"
  container="body"
  (click)="onBarClick($event)"
>
  <div class="work-order-bar__content">
    <span class="work-order-bar__name">
      {{ workOrder.data.name }}
    </span>

    <app-status-badge
      class="work-order-bar__status"
      [status]="workOrder.data.status"
    ></app-status-badge>
  </div>

  <div
    ngbDropdown
    container="body"
    class="work-order-bar__menu"
    (openChange)="$event && t.close()"
    (click)="$event.stopPropagation()"
  >
    <button
      type="button"
      class="work-order-bar__menu-toggle"
      ngbDropdownToggle
    >
      ⋯
    </button>

    <div ngbDropdownMenu>
      <button
        type="button"
        ngbDropdownItem
        (click)="onEditClick($event)"
      >
        Edit
      </button>
      <button
        type="button"
        ngbDropdownItem
        (click)="onDeleteClick($event)"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<ng-template #tooltipContent>
  <div class="wo-bar-tooltip">
    <div class="wo-bar-tooltip__name">{{ workOrder.data.name }}</div>
    <div class="wo-bar-tooltip__row">
      <span class="wo-bar-tooltip__label">Start</span>
      <span>{{ workOrder.data.startDate }}</span>
    </div>
    <div class="wo-bar-tooltip__row">
      <span class="wo-bar-tooltip__label">End</span>
      <span>{{ workOrder.data.endDate }}</span>
    </div>
    <div class="wo-bar-tooltip__row">
      <span class="wo-bar-tooltip__label">Status</span>
      <span>{{ workOrder.data.status }}</span>
    </div>
  </div>
</ng-template>

